*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{}

.center{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

.main{
  padding: 40px;
  background-color: rgb(77, 77, 77);
  background-image: url('../img/background.png');
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  min-height: 400px;
}

.menu h3{
  color: aliceblue;
}

.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu a{
  color: aliceblue;
  text-decoration: none;
  border: 1px solid white;
  padding: 3px 8px;
  border-radius: 6px;
}

.form{
  color: aliceblue;
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.items-form{
  margin: 0 auto;
  max-width: 540px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form h2{
  color:aliceblue;  
  text-transform: uppercase;
  font-size: 30px;
}

.items-form input[type='text'] {
  width: 48%;
  height: 30px;
  margin: 8px 0px;
  border-radius: 10px;
  border: solid #C4A96D 2px ;
  padding-left: 10px;
}

.items-form input[type='submit']{
  width: 100%;
  height: 40px;
  background-color: #C4A96D;
  cursor: pointer;
  color: aliceblue;
  font-size: 19px;
  border: none;
}

@media screen and (max-width: 768px) {
  .items-form input[type='text'] {
    width: 100%;
  }

  .conteudo-single{width:100%;}
}

.conteudo{
  justify-content:  center;
}

.conteudo-single{
  width: 50%;
  padding: 8px 30px;
  margin-top: 30px;
}